#community-page-header {
    background: url(../img/community-header.jpg);
    background-position: center;
    background-size: cover;
}

.row-with-right-img {
    grid-column: col-start / span 12;
    display: flex;
    margin-bottom: 50px;
}

.row-with-right-img img {
    width: 40%;
    object-fit: cover;
    margin-left: 50px;
    box-shadow: var(--shadow);
    flex-shrink: 0;
}

.row-with-right-img-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-with-left-img {
    grid-row: 2;
    grid-column: col-start / span 12;
    display: flex;
}

.row-with-left-img h2 {
    width: 100%;
    margin-bottom: 30px;
}

.row-with-left-img-content-wrapper {
    display: flex;
    align-items: center;
}

.row-with-left-img-content {
    display: flex;
    flex-wrap: wrap;
}

.row-with-left-img img {
    width: 25%;
    object-fit: cover;
    margin-right: 50px;
    flex-shrink: 0;
}

.point {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
}

@media (max-width: 1100px) {
    .row-with-left-img img {
        display: none;
    }

    .point {
        width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 25px;
    }

    .row-with-left-img-content-wrapper {
        text-align: center;
    }
}


@media (max-width: 865px) {
    .row-with-right-img {
        flex-direction: column;
    }

    .row-with-right-img-content {
        text-align: center;
        margin-bottom: 40px;
    }

    .row-with-right-img img {
        width: 100%;
        margin-left: 0;
    }

    .row-with-left-img img {
        display: none;
    }

    .row-with-left-img-content {
        text-align: center;
        justify-content: center;
    }

    .point {
        width: 80%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 25px;
    }
}