.information {
    grid-column: col-start / span 6;
}

.contact-information h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 15px;
}

.contact-information p {
    margin-bottom: 30px;
}

.contact-information h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 20px;
}

.contact-information input, .contact-information textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-bottom: 3px var(--blue) solid;
    background-color: #F5F5F5;
}

.contact-information input:focus, .contact-information textarea:focus {
    outline: none;
    border-bottom: 3px var(--gold) solid;
}

.contact-information #submit {
    width: auto;
    border: none;
    color: var(--blue);
    border: 1px var(--blue) solid;
    padding: 13px 22px;
    margin-top: 20px;
    cursor: pointer;
    background: var(--white);
}

@media (max-width: 1100px) {
    .contact-information .contact-content {
        grid-column: col-start 7 / span 6;
        text-align: left;
        margin-top: 0;
        max-width: auto;
    }

    .information {
        padding-right: 20px;
    }
}

@media (max-width: 865px) {
    .contact-information .contact-content {
        grid-column: col-start / span 12;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }

    .information {
        grid-column: col-start / span 12;
        text-align: center;
    }
}