#industries-page-header {
    background: url(../img/industry-page-header.jpg);
    background-position: center;
    background-size: cover;
}

.industries-container {
    grid-column: col-start / span 12;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.industry {
    background: url(../img/industry.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 150px;
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.industry-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--blue);
    opacity: .7;
    transition: all 0.2s ease;
    box-shadow: var(--shadow);
}

.industry h3 {
    opacity: 1;
    position: relative;
    transition: all 0.2s ease;
}

.industry:hover .industry-bg {
    opacity: .9;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.industry:hover h3 {
    color: var(--gold);
}