#resources-page-header {
    background: url(../img/reources-page-header.jpg);
    background-position: center;
    background-size: cover;
}

.tools-container {
    grid-column: col-start / span 12;
}

.section-heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.faq .grid-wrapper {
    margin-top: 0;
}

.faq-container {
    grid-column: col-start / span 12;
}

.faq .menu-expand {
    display: inline;
    float: right;
    position: relative;
    bottom: 22px;
    right: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.questions-list {
    list-style: none;
}

.questions-list li {
    margin-bottom: 30px;
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
}

.question-container {
    position: relative;
    padding: 2px 30px 2px 5px;
    width: 100%;
    border-bottom: 1px solid var(--gold);
}

.answer {
    visibility: visible;
    height: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    transition: all 0.1s ease;
    margin-top: 5px;
    margin-right: 0;
    padding: 5px;
}

.answer.dropdown-open {
    height: auto;
    max-height: 1000px;
    opacity: 1;
    transition: all 0.3s ease 0.1s;
}