#team-page-header {
    background: url(../img/team-header.jpg);
    background-position: center;
}

.team-container {
    grid-column: col-start / span 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    width: 300px;
    margin: 0 30px 50px 30px;
}

.team-member h4 {
    color: var(--gold);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-member img {
    width: 300px;
    margin-bottom: 20px;
}

section.join-our-team {
    background-color: var(--gray-drk);
    position: relative;
}

.join-our-team-content {
    grid-column: col-start / span 6;
}

.join-our-team-img {
    background: url(/assets/img/team.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
}



@media (max-width: 865px) {
    .join-our-team-content {
        grid-column: col-start / span 12;
        text-align: center;
    }

    .join-our-team-img {
        background: url(/assets/img/team.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 100%;
    }

    section.join-our-team {
        margin-bottom: 400px;
    }
}